<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/home" method="post">
        <label>Full Name</label>
        <input type="text" required name = "name">
        <label>E-mail</label>
        <input type="text" required name = "E-mail">
        <label>Password</label>
        <input type="text" required name = "Password">
        <button type="submit">Signup</button>
    </form>
</body>
</html>